.cta{
    color : var(--white);
    text-decoration: none;
    background-color: var(--black);
    padding : 1rem 1rem 1rem 1rem;
    
}



@media (min-width: 320px) and (max-width: 425px) {
    .cta{
        padding : 0.7rem 0.7rem 0.7rem 0.7rem;
        
    }
}